/* Navbar.scss */
@import './../../../scss/lib.scss';
.navbar {
  top: 0;
  padding: 20px 50px;
  height: 100%;
  background-color: transparent;

  .navbar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      font-size: 24px;
      font-weight: 500;
      line-height: 28px;
      font-family: 'Poppins';
    }

    .nav-items {
      display: flex;
      width: 698px;
      padding-right: 0px;
      justify-content: space-between;
      align-items: center;
      flex-shrink: 0;

      a {
        color: $text-dark;
        text-decoration: none;
        font-weight: 500;
        line-height: 20px;
        &:hover {
          opacity: 0.7;
        }
      }
    }
  }

  .menu-toggler {
    display: none;
    flex-direction: column;
    cursor: pointer;
  }

  .bar {
    width: 25px;
    height: 3px;
    background-color: $background-dark;
    margin: 3px 0;
    transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
  }
}

@media (max-width: $bm-md) {
  .navbar {
    padding: 20px 30px;
  }
  .nav-items {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: 0;
    width: 100% !important;
    background-color: rgba(238, 239, 241, 0.9);
    transform: translateY(-100%);
    transition: transform 400ms ease 0s;
    pointer-events: none;

    a:not(:nth-child(4)) {
      padding: 15px 30px;
      width: 100%;
      opacity: 1;
      transition: background-color 0.4s, opacity 0.4s, color 0.4s;
      &:hover {
        background-color: #f7f8f9;
      }
    }
    a:last-child {
      margin-bottom: 40px;
    }
    &.active {
      top: 60px;
      display: flex;
      opacity: 1;
      transform: translateY(0);
      pointer-events: auto;
    }
  }

  .menu-toggler {
    display: flex !important;

    &.active {
      .bar:nth-child(1) {
        transform: translateY(6px) rotate(45deg);
      }

      .bar:nth-child(2) {
        opacity: 0;
      }

      .bar:nth-child(3) {
        transform: translateY(-6px) rotate(-45deg);
      }
    }
  }
}
