@import './src/scss/lib.scss';
.light-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  max-width: 400px;
  padding: 21px 35px 21px 35px;
  border: 0;
  border-radius: 15px;
  background: #fff;
  color: $text-dark;
  font-family: 'Poppins';
  font-size: 20px;
  font-weight: 500;
  line-height: 20px;
  &_icon img {
    width: 45px;
    height: auto;
    margin-left: 10px;
  }

  &:hover {
    background-color: $text-light-gray;
    transition: background-color 775ms, opacity 0.4s, color 0.4s;
  }
  @media (max-width: $bm-md) {
    font-size: 18px; /* Adjust font size for medium screens */
    padding: 17px 30px 17px 30px; /* Adjust padding for medium screens */
    max-width: 100%; /* Full width on medium screens */
    border-radius: 10px; /* Adjust border radius for medium screens */
    &_icon img {
      max-width: 40px;
      width: 100%;
      height: auto;
      margin-left: 8px;
    }
  }

  @media (max-width: $bm-sm) {
    font-size: 16px; /* Adjust font size for small screens */
    padding: 14px 25px 14px 25px; /* Adjust padding for small screens */
    border-radius: 8px; /* Adjust border radius for small screens */
    &_icon img {
      width: 35px;
      height: 35px;
      margin-left: 6px;
    }
  }
}
