//Light
$text-light: #ffffff;
$text-light-gray: #62646d;
$background-light: #fff;
$border-light: #000;

//Dark
$text-dark: #000;
// $background-dark: #1a1b1f;
$background-dark: #000;
$background-dark-gray: #d9d9d9;
