@import '../../../scss/lib.scss';

.Footer {
  width: 100%;
  background-color: $background-dark;
  height: 100%;
  max-height: 780px;
  padding: 133px 141px;
  border: 0;
  border-radius: 50px 50px 0px 0px;

  @media (max-width: $bm-lg) {
    padding: 100px 60px;
  }

  @media (max-width: $bm-md) {
    padding: 100px 30px;
    border-radius: 0;
  }

  &_CTA {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    color: $text-light;

    & h2 {
      width: 50%;
      margin-bottom: 85px;

      @media (max-width: $bm-md) {
        width: 100%;
        margin-bottom: 40px;
      }
      @media (max-width: $bm-xl) {
        width: 80%;
      }
    }

    & Button {
      margin-bottom: 148px;

      @media (max-width: $bm-md) {
        margin-bottom: 80px;
      }
    }
  }

  &_main {
    &--wrapper {
      display: flex;
      flex-flow: row wrap;
      justify-content: space-between;
      align-items: flex-start;
      @media (max-width: $bm-md) {
        justify-content: center;
      }

      .logo a {
        color: $text-light !important;
      }

      a {
        color: $text-light-gray;
        font-size: 17px;

        @media (max-width: $bm-sm) {
          font-size: 16px;
        }

        @media (max-width: $bm-lg) {
          font-size: 14px; /* Adjust font size for large screens */
        }
      }

      .footer-items {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 30%;
        align-items: center;

        @media (max-width: $bm-md) {
          flex-flow: wrap column;
          width: 100%;
          margin-top: 40px;
          margin-bottom: 20px;
        }
      }
    }

    &--copyright {
      color: $text-light-gray;
      font-size: 14px;
      font-weight: 400;
      line-height: 26px;
      text-align: center;
      margin-top: 40px;

      @media (max-width: $bm-md) {
        margin-top: 20px;
      }

      a {
        color: #ffffff9b;

        font-size: 14px;
      }
    }
  }
}
