@import '../../../scss/lib.scss';
.Expertise {
  @include card;
  background-color: $background-dark;
  color: $text-light;
  margin-bottom: 280px;
  &_wrapper {
    text-align: left;
    margin: 102px 70px;
    :last-child {
      border: 0;
      :last-child {
        padding-bottom: 0;
      }
    }
  }

  @media (max-width: $bm-md) {
    margin: 0px 18px 130px 18px;
    border-radius: 0;

    &_wrapper {
      margin: 40px 30px;
    }
  }
}
