@import '../../../scss/lib.scss';

.MyWork {
  margin-bottom: 280px;
  text-align: left;

  &_wrapper {
    // scale: 0.9;

    margin-top: 89px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;

    .work {
      @include card;
      padding: 45px;
      background-color: $background-dark-gray;
      width: calc(33.33% - 40px);
      margin-bottom: 40px;

      h5 a {
        margin-top: 20px;
        font-size: inherit;
        color: inherit;
        &:hover {
          opacity: 0.7;
        }
      }

      p {
        margin-top: 10px;
        width: 95%;
        margin-bottom: 30px;
      }
      &:last-child {
        img {
          margin-top: 20px;
        }
        h5 {
          margin-top: 30px;
        }
      }
    }
  }

  @media (max-width: $bm-md) {
    margin: 0px 18px 130px 18px;
    &_wrapper {
      margin-top: 40px;
      flex-direction: column;
      align-items: center;
      .work {
        width: 100%;
        border-radius: 20px;
        p {
          width: 95%;
          margin-bottom: 10px;
        }
        img {
          width: 100%;
          max-width: 200px;
        }
        &:last-child img {
          width: 100%;
          max-width: 120px;
        }
      }
    }
  }
}
