@import '../../../scss/lib.scss';
.ExpertiseList {
  display: flex;
  flex-direction: column;
  padding: 40px;
  border-bottom: 0.1px solid #fff;
  &_heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    :nth-child(2) {
      flex: 1;
      margin-left: 50px;
    }
    h2 {
      font-size: 90px;
    }
  }
  &_content {
    text-align: center;
    padding: 40px 0 20px 0;
  }
  @media (max-width: $bm-md) {
    padding: 0;
    &_heading {
      :nth-child(2) {
        margin-left: 10px !important;
      }
    }
    h2 {
      font-size: 25px !important;
    }
    h3 {
      font-size: 20px !important;
    }
    img {
      width: 100%;
      max-width: 30px;
    }
  }
}
