@import '../scss/lib.scss';
.About {
  padding: 80px 115px 0 115px;
  &_content {
    p {
      font-size: 20px;
      //   font-weight: 400;
      line-height: 50x;
      text-align: left;
      margin: 20px 0 100px;
    }
  }

  @media (max-width: $bm-xl) {
    padding-left: 50px;
    padding-right: 50px;
  }
  @media (max-width: $bm-md) {
    padding: 40px 18px 0 18px;
  }
}
