@import '../../../scss/lib.scss';
.HeroWithMedia {
  padding: 30px;

  &_wrapper {
    position: relative;
    z-index: 2;
    padding: 50px 90px;
    display: flex;
    flex-flow: row;
    justify-content: center;
    text-align: left;

    &--col1 {
      width: 65%;

      & h1 {
        margin-top: 135px;
      }
      & p,
      a {
        width: 85%;
        font-size: 26px;
        line-height: 46px;
        font-weight: 400;
        color: $text-light-gray;
        margin: 5px 0 20px;
      }
      .buttons {
        display: flex;
        justify-content: flex-start;
        align-items: center;

        img {
          width: 70px;
          height: 70px;
          transform: translateY(5px);
        }
      }
    }

    &--col2 {
      width: 35%;
    }
  }
  @media (max-width: 768px) {
    padding: 0;
    &_wrapper {
      flex-direction: column; /* Stack columns in smaller screens */
      padding: 30px; /* Adjust padding */

      &--col1 {
        width: 100%; /* Full width for smaller screens */
        padding-right: 0; /* Remove padding between columns */

        & h1 {
          margin-top: 40px; /* Reduce top margin */
          font-size: 28px; /* Further decrease font size */
        }

        & p,
        a {
          font-size: 16px; /* Adjust font size */
        }

        .buttons {
          justify-content: center; /* Center buttons */
        }
      }

      &--col2 {
        width: 100%; /* Full width for smaller screens */
      }
    }
  }
}
