.Skill {
  display: inline-flex;
  padding: 1px 12px 1px 12px;
  align-items: flex-start;
  border-radius: 8px;
  border: 1px solid #ced1df;
  background: #eeeff1;
  width: fit-content;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 39px;
  letter-spacing: 1px;
  text-transform: uppercase;
}
