@import '../../../scss/lib.scss';
.AllPosts {
  //   display: flex;
  flex-direction: column;
  &_wrapper {
    .heading {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      margin-bottom: 45px;
    }
    .postCards {
      display: flex;
      flex-wrap: wrap;
      margin-bottom: 60px;
      gap: 30px;
      // justify-content: space-between;
    }
    .error-message {
      margin: 150px 0 150px;
      font-size: 18px;
      color: $text-light-gray;
    }
    button {
      margin-bottom: 80px;
    }
  }
}
