@import '../../../scss/lib.scss';
.PostCard {
  text-align: left;
  width: 100%;
  max-width: 520px;
  margin-bottom: 40px;
  .img-item {
    width: 100%;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 16px;
    img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      display: flex;
      transition: all 0.3s ease 0s;
    }
    &:hover img {
      transition: all 0.3s ease 0s;
      transform: scale(1.03);
    }
  }
  .tag {
    font-weight: 700;
    color: #000;
    font-family: 'Poppins';
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 2px;
  }
  .title {
    font-weight: 500;
    color: $text-dark;
    font-family: 'Poppins';
    font-size: 20px;
    line-height: 120%;
    margin-bottom: 2px;
    letter-spacing: -0.006em;
    &:hover {
      opacity: 0.7;
    }
  }
  p {
    color: #62646d;
    font-size: 20px;
    line-height: 1.9;
  }
  .purple {
    color: #7b61ff;
  }
  .green {
    color: #14f653;
  }
  .red {
    color: #f81919;
  }
  // &_wrapper {
  //   &:hover {
  //     background-color: #fff;
  //     padding: 20px;
  //     border-bottom-left-radius: 24px;
  //     border-bottom-right-radius: 24px;
  //   }
  // }
}
