.notification {
  position: fixed;
  top: -100px;
  left: 50%;
  width: 50%;
  transform: translateX(-50%);
  background-color: #2ecc71 !important;
  color: #ffffff;
  padding: 10px 20px;
  transition: top 0.3s ease-in-out, opacity 0.3s ease-in-out;
  opacity: 0;

  &.show {
    top: 20px;
    opacity: 1;
  }
  @media (max-width: 768px) {
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
  }
}
